<div class="center">
	<!-- add image -->
	<div class="container">
		<img src="IMG_2047.jpg" alt="Avatar" class="image">
		<div class="overlay">
			<div class="text">Hello World</div>
		</div>
	</div>
	<!--
	<button mat-button [matMenuTriggerFor]="menu">Menu</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item>Item 1</button>
		<button mat-menu-item>Item 2</button>
	</mat-menu>-->
  <br>
  <a href="index.html#work">Education</a>

	<br>
	<a href="index.html#work">Work Experience</a>
	<br>
	<a href="index.html#projects">Projects</a>
	<br>
	<a href="index.html#projects">Skills</a>
	<br>
		<a href="https://www.linkedin.com/in/kurtis-reid-80a49a62/"><i class="devicon-linkedin-plain"></i></a>
	<a href="https://github.com/KurtisReid"><i class="devicon-github-plain"></i></a>
</div>